body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /*background-color: black; */
}
#board {
    width:540px;
    height: 540px;
    background-color: green;

    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px auto;

}
div{
    border:solid;
}
.tile {
    background-color: blue;
    /* width: 100px; */
    /* height: 100px; */
}
.unit {
    width: 100px;
    height: 100px;
}